**/.settings/
**/target/
**/.mta/
**/node_modules/
**/node
**/.che/
**/.project
**/.classpath
**/*.mtar
**/edmx/
**/gen/
**/package-lock.json
**/default-env.json
**/.npmrc
**/*.log
**/dist/
**/Component-preload.js
**/*.jar
**/*.JAR
**/connection.properties
**/bin/
**/deploy.sh
**/.vscode/
**/*.class
**/*.exe